[submodule "_vim/pack/themes/start/vim-code-dark"]
	path = _vim/pack/themes/start/vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark.git
[submodule "_vim/pack/editor/start/nerdcommenter"]
	path = _vim/pack/editor/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "_vim/pack/editor/start/nerdtree"]
	path = _vim/pack/editor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "_vim/pack/editor/start/tabular"]
	path = _vim/pack/editor/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "_vim/pack/editor/start/vim-abolish"]
	path = _vim/pack/editor/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "_vim/pack/editor/start/vim-slime"]
	path = _vim/pack/editor/start/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule "_vim/pack/editor/start/vim-surround"]
	path = _vim/pack/editor/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "_vim/pack/syntax/start/vim-json"]
	path = _vim/pack/syntax/start/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "_vim/pack/syntax/start/vim-go"]
	path = _vim/pack/syntax/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "_vim/pack/syntax/start/ale"]
	path = _vim/pack/syntax/start/ale
	url = git@github.com:dense-analysis/ale.git
